.tooltip {
  @apply relative inline-block;
}

.tooltip .tooltipText {
  @apply absolute z-10 hidden px-2 py-1 mt-1 text-xs text-white transition-opacity duration-300 ease-in-out transform -translate-x-1/2 rounded opacity-0 bg-smoke-darker ml-1/2;
}
/* 
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipText {
  @apply flex items-center justify-center opacity-100;
}
